*{
 padding:0px;
 margin:0px;
}
label{
    font-family:verdana;
    color:tomato;
    font-size:20px;
}
input[type="text"]{
    width:30%;
    padding:20px;
    border:4px solid black;
    border-radius:6px;
}
input[type="email"]{
    width:30%;
    padding:20px;
    border:4px solid black;
    border-radius:6px;
}
input[type="password"]{
    width:30%;
    padding:20px;
    border:4px solid black;
    border-radius:6px;
}
input[type="textarea"]{
    width:30%;
    padding:20px;
    border:4px solid black;
    border-radius:6px;
}
input[type="date"]{
    width:10%;
    padding:20px;
    border:4px solid black;
    border-radius:6px;
}
select{
        width:10%;
        padding:20px;
        border:4px solid black;
        border-radius:6px;
}
input[type="submit"]{
    color:white;
    padding:20px;
    background-color:blue;
    border-radius:6px;
}